<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <div class="container">
    <div class="card-wrapper">
      <div class="card">
        <div class="card-face card-front">
          <div class="card-body">
            <h5 class="card-title">Front Side</h5>
            <p class="card-text">This is the front of the card.</p>
            <button class="btn btn-primary flip-button">Flip to Back</button>
          </div>
        </div>
        <div class="card-face card-back">
          <div class="card-body">
            <h5 class="card-title">Back Side</h5>
            <p class="card-text">This is the back of the card.</p>
            <button class="btn btn-primary flip-button">Flip to Front</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
