<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arriendo</title>
</head>

<body>
    <br><br>
    <div class="row content">
        <form class="col-8 formWrapperLeisure" [formGroup]="formArriendo" *ngIf="formArriendo" (submit)="send(true)">
            <div class="container recibo">
                <div class="bodyInfo encabezado">
                    <div class="row titleInfo">
                        <div class="col colTitle titleText">
                            <label for="titleText" class="tag">RECIBO DE ARRENDAMIENTO</label>
                        </div>
                        <div class="col colTitle anotherTitleInfo">
                            <div class="row rowInfo valueType">
                                <div class="col value">
                                    <label for="valorNumero" class="tag">$</label>
                                    <input class="form-control transparent-input inputValorNumero" type="text"
                                        id="valorNumero" formControlName="valorNumero"
                                        [ngClass]="{'is-invalid': formArriendo.get('valorNumero')?.invalid && (formArriendo.get('valorNumero')?.dirty || formArriendo.get('valorNumero')?.touched)}">
                                </div>
                                <div class="col number">
                                    <label for="NumeroRecibo" class="tag">No.</label>
                                    <input class="form-control transparent-input inputNumeroRecibo" type="text"
                                        id="NumeroRecibo" formControlName="NumeroRecibo"
                                        [ngClass]="{'is-invalid': formArriendo.get('NumeroRecibo')?.invalid && (formArriendo.get('NumeroRecibo')?.dirty || formArriendo.get('NumeroRecibo')?.touched)}">
                                </div>
                            </div>
                            <div class="row rowInfo dateType">
                                <div class="col dateInfo">
                                    <label for="fechaRecibo" class="tag">Fecha:</label>
                                    <input class="form-control transparent-input inputfechaRecibo" type="text"
                                        id="fechaRecibo" formControlName="fechaRecibo"
                                        [ngClass]="{'is-invalid': formArriendo.get('fechaRecibo')?.invalid && (formArriendo.get('fechaRecibo')?.dirty || formArriendo.get('fechaRecibo')?.touched)}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bodyInfo informacion">
                    <div class="row dataClient">
                        <div class="col-12 dataClientCol nameClient">
                            <label for="nombre" class="tagClient">Recibí de:</label>
                            <input class="form-control transparent-input inputnombre" type="text" id="nombre"
                                formControlName="nombre"
                                [ngClass]="{'is-invalid': formArriendo.get('nombre')?.invalid && (formArriendo.get('nombre')?.dirty || formArriendo.get('nombre')?.touched)}">
                        </div>
                        <div class="col-12 dataClientCol valueClient">
                            <label for="valorTexto" class="tagClient">La suma de:</label>
                            <input class="form-control transparent-input inputvalorTexto" type="text" id="valorTexto"
                                formControlName="valorTexto"
                                [ngClass]="{'is-invalid': formArriendo.get('valorTexto')?.invalid && (formArriendo.get('valorTexto')?.dirty || formArriendo.get('valorTexto')?.touched)}">
                        </div>
                        <div class="col-12 dataClientCol siteClient">
                            <label for="concepto" class="tagClient">Por concepto de arrendamiento de:</label>
                            <input class="form-control transparent-input inputconcepto" type="text" id="concepto"
                                formControlName="concepto"
                                [ngClass]="{'is-invalid': formArriendo.get('concepto')?.invalid && (formArriendo.get('concepto')?.dirty || formArriendo.get('concepto')?.touched)}">
                        </div>
                        <div class="col-12 dataClientCol addressClient">
                            <label for="direccion" class="tagClient">Situado en:</label>
                            <input class="form-control transparent-input inputdireccion" type="text" id="direccion"
                                formControlName="direccion"
                                [ngClass]="{'is-invalid': formArriendo.get('direccion')?.invalid && (formArriendo.get('direccion')?.dirty || formArriendo.get('direccion')?.touched)}">
                        </div>
                    </div>
                </div>
                <div class="bodyInfo fechas">
                    <div class="row dataRangeInfo">
                        <div class="fromDate dateRange">
                            <label for="diaFI" class="tagDates">Del</label>
                        </div>
                        <div class="col DateRangeContainer dateRange">
                            <label for="diaFI" class="tagDates special">Día</label>
                            <input class="form-control transparent-input inputdiaFI" type="text" id="diaFI"
                                formControlName="diaFI"
                                [ngClass]="{'is-invalid': formArriendo.get('diaFI')?.invalid && (formArriendo.get('diaFI')?.dirty || formArriendo.get('diaFI')?.touched)}">
                        </div>
                        <div class="col DateRangeContainer dateRange">
                            <label for="mesFI" class="tagDates special">Mes</label>
                            <input class="form-control transparent-input inputmesFI" type="text" id="mesFI"
                                formControlName="mesFI"
                                [ngClass]="{'is-invalid': formArriendo.get('mesFI')?.invalid && (formArriendo.get('mesFI')?.dirty || formArriendo.get('mesFI')?.touched)}">
                        </div>
                        <div class="col DateRangeContainer dateRange">
                            <label for="anioFI" class="tagDates special">Año</label>
                            <input class="form-control transparent-input inputanioFI" type="text" id="anioFI"
                                formControlName="anioFI"
                                [ngClass]="{'is-invalid': formArriendo.get('anioFI')?.invalid && (formArriendo.get('anioFI')?.dirty || formArriendo.get('anioFI')?.touched)}">
                        </div>
                        <div class="fromDate dateRange">
                            <label for="diaFF" class="tagDates">Al</label>
                        </div>
                        <div class="col DateRangeContainer dateRange">
                            <label for="diaFF" class="tagDates special">Día</label>
                            <input class="form-control transparent-input inputdiaFF" type="text" id="diaFF"
                                formControlName="diaFF"
                                [ngClass]="{'is-invalid': formArriendo.get('diaFF')?.invalid && (formArriendo.get('diaFF')?.dirty || formArriendo.get('diaFF')?.touched)}">
                        </div>
                        <div class="col DateRangeContainer dateRange">
                            <label for="mesFF" class="tagDates special">Mes</label>
                            <input class="form-control transparent-input inputmesFF" type="text" id="mesFF"
                                formControlName="mesFF"
                                [ngClass]="{'is-invalid': formArriendo.get('mesFF')?.invalid && (formArriendo.get('mesFF')?.dirty || formArriendo.get('mesFF')?.touched)}">
                        </div>
                        <div class="col DateRangeContainer">
                            <label for="anioFF" class="tagDates special">Año</label>
                            <input class="form-control transparent-input inputanioFF" type="text" id="anioFF"
                                formControlName="anioFF"
                                [ngClass]="{'is-invalid': formArriendo.get('anioFF')?.invalid && (formArriendo.get('anioFF')?.dirty || formArriendo.get('anioFF')?.touched)}">
                        </div>
                    </div>
                </div>
                <div class="bodyInfo firmas">
                    <div class="row firmaArrendador">
                        <div class="col"></div>
                        <div class="col canvaLineSing">
                            <label class="singText">Firma del Arrendador</label>
                            <br>
                            <svg width="97%" height="4%" class="singText singLine">
                                <line x1="0" y1="0" x2="400" y2="0" stroke-width="2" stroke="rgb(18, 128, 253)" />
                            </svg>
                            <label class="singText">C.C o NIT.</label>
                        </div>
                    </div>
                </div>
            </div>
        </form>


        <div class="col-auto wrapper">
            <div class="col">
                <div class="col nav-item dropdown" (click)="loadClients()" type="button" style="position: relative; z-index: 1;">
                    <button class="btn btn-outline-dark dropdown-toggle button-margin" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Clientes
                    </button>
                    <ul class="dropdown-menu dropdown-menu button-margin" style="position: absolute; z-index: 2;">
                        <li *ngFor="let client of clients">
                            <a class="dropdown-item" (click)="PreLoadForm(client.id, client.names)">{{
                                client.names}}</a>
                        </li>
                    </ul>
                </div>
                <div class="col containerMenu">
                    <div class="column">
                        <button class="button" (click)="openModal()"><i class="bi bi-person-plus"></i><span
                                class="message-container"><span class="message">Nuevo Cliente</span></span></button>
                    </div>
                    <div class="column">
                        <button class="button"><i class="bi bi-lightbulb"></i><span class="message-container"><span
                                    class="message">Añadir Servicios</span></span></button>
                    </div>
                    <div class="column">
                        <button class="button" (click)="resetForm()"><i class="bi bi-arrow-repeat"></i><span
                                class="message-container"><span class="message">Reiniciar
                                    Formulario</span></span></button>
                    </div>
                    <div class="column">
                        <button [disabled]="!formArriendo.valid" (click)="send(false)" class="button"><i
                                class="bi bi-printer"></i> <span class="message-container"><span class="message">Solo
                                    Imprimir</span></span></button>
                    </div>
                    <div class="column">
                        <button type="submit" [disabled]="!formArriendo.valid" (click)="send(true)" class="button"><i
                                class="bi bi-file-earmark-arrow-down"></i> <span class="message-container"><span
                                    class="message">Imprimir y Guardar</span></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>


<!-- Modal -->
<div class="modal fade modal-centered" id="formClientModal" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content bodyClientForm">
            <div class="modal-header">
                <h5 class="modal-title" id="formClientModalLabel">Agregar un nuevo cliente</h5>
            </div>
            <form [formGroup]="formClient" (ngSubmit)="sendClient()">
                <div class="modal-body">
                    <div class="col">
                        <label for="fullName" class="clientFormLabel">Nombre Completo</label>
                        <input class="form-control" type="text" id="fullName" formControlName="fullName"
                            [ngClass]="{'is-invalid': formClient.get('fullName')?.invalid && (formClient.get('fullName')?.dirty || formClient.get('fullName')?.touched)}">
                        <div *ngIf="formClient.get('fullName')?.hasError('pattern')" class="invalid-feedback">
                            No se permiten espacios en blanco ni caracteres especiales.
                        </div>
                    </div>
                    <div class="col">
                        <label for="identification" class="clientFormLabel">Cédula</label>
                        <input class="form-control" type="text" maxlength="10"
                            onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" minlength="1"
                            id="identification" formControlName="identification"
                            [ngClass]="{'is-invalid': formClient.get('identification')?.invalid && (formClient.get('identification')?.dirty || formClient.get('identification')?.touched)}">
                    </div>
                    <div class="col">
                        <label for="phone" class="clientFormLabel">Teléfono</label>
                        <input class="form-control" type="text" maxlength="10"
                            onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" minlength="1" id="phone"
                            formControlName="phone"
                            [ngClass]="{'is-invalid': formClient.get('phone')?.invalid && (formClient.get('phone')?.dirty || formClient.get('phone')?.touched)}">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-success" [disabled]="!formClient.valid">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div *ngIf="isLoading" class="spinner-overlay">
    <div class="spinner-border text-dark" role="status">
        <span class="sr-only"></span>
    </div>
</div>