/* * {
    border: 1px solid red;
} */

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    appearance: textfield;
}

.container {
  margin: 1em;
  padding: 0;
}

.recibo {
  background-color: #fff;
  padding: 18px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 850px;
  width: 850px;
  height: 620px;
}

.bodyInfo {
  width: 100%;
  padding: 5px;
}

/*contenedor por seccion*/
.encabezado {
  height: 20%;
  margin-top: 4px;
}
.informacion {
  height: 50%;
  margin-top: 8px;
}
.fechas {
  height: 8%;
  margin-top: 6px;
}
.firmas {
  height: 17%;
  margin-top: 6px;
}
/*contenedor por seccion*/

/*seccion botones*/

.button-container{
 margin-top: 2%; 
}

.button-margin {
  margin-top: 20px;
  margin-bottom: 0;
}

.content{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.formWrapperLeisure{
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  box-sizing: border-box;
}

.containerMenu{
  border: 1px solid black;
  border-radius: 0.5rem;
  display: block;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 13px;
  width: 60px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 10%;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 6px; /* Espacio entre los botones */
}

.button {
  background-color: transparent;
  border: none;
  width: 50px;
  height: 50px;
  padding: 10px; 
  margin: 5px;
  transition: transform 0.4s;
  position: relative;
}

.button:hover {
  transform: scale(1.3);
}

.message-container {
  position: absolute;
  top: 50%;
  left: calc(100% + 10px); /* Alinear a la derecha del botón */
  transform: translateY(-50%);
  visibility: hidden;
  background-color: transparent;
  padding: 5px 10px;
  border-radius: 5px;
}

.button:hover .message-container {
  visibility: visible;
}

.message {
  color: black;
  margin: 0;
  font-family: "redhat", Arial, Helvetica, sans-serif;
  color: black;
  font-size: 15px;
}

.button i {
  font-size: 24px; 
} 


/*seccion de los titulos*/
.colTitle,
.titleInfo {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.titleText {
  margin-right: 4px;
  border: 1px solid rgb(18, 128, 253);
  background-color: rgba(218, 234, 255, 0.466);
  border-radius: 0.5rem;
  height: 105%;
}

.tag,
.tagClient,
.tagDates {
  font-family: 'Times New Roman', Times, serif;
  color: rgba(26, 124, 236, 0.651);
  font-weight: bolder;
  font-size: 30px;
  text-align: center;
  line-height: 1.4em;
}
.tagClient {
  font-size: 24px;
  margin-top: 10px;
}
.tagDates {
  display: inline;
  position: absolute;
  font-size: 20px;
  margin-top: 2px;
  margin-left:4px;
}

.rowInfo {
  margin: 0;
  padding: 0;
  height: 50%;
  width: 100%;
}

.anotherTitleInfo {
  margin-left: 4px;
}

.valueType{
margin-bottom: 4px;
}

.dateType{
margin-top: 4px;
}

.value,
.number {
  margin-bottom: 4px;
}
.dateInfo {
  margin-top: 2px;
}
.value {
  margin-right: 4px;
  border: 1px solid rgb(18, 128, 253);
  background-color: rgba(218, 234, 255, 0.466);
  border-radius: 0.5rem;

}
.number {
  margin-left: 4px;
  border: 1px solid rgb(18, 128, 253);
  background-color: rgba(218, 234, 255, 0.466);
  border-radius: 0.5rem;

}
.dateInfo {
  border: 1px solid rgb(18, 128, 253);
  background-color: rgba(218, 234, 255, 0.466);
  border-radius: 0.5rem;
}
/*seccion de los titulos*/
/*seccion de la informacion*/
.dataClient {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 1px solid rgb(18, 128, 253);
  border-radius: 1em;
}
.dataClientCol {
  border-top: 1px solid rgb(18, 128, 253);
  border-bottom: 1px solid #1280fd;
  background-color: rgba(218, 234, 255, 0.466);
  margin-bottom: 2px;
  margin-top: 6px;
}
.nameClient {
  margin-top: 12px;

}
.addressClient {
  margin-bottom: 12px;
}
/*seccion de la informacion*/
/*seccion de rango de fechas*/
.dataRangeInfo {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 1px solid rgb(18, 128, 253);
  background-color: rgba(218, 234, 255, 0.466);
  border-radius: 0.5rem;
}
.DateRangeContainer {
  flex: 1;
  padding: 5px;
  position: relative; /* Necesario para posicionamiento absoluto de los inputs */
}

.dateRange{
  border-right: 1px solid rgb(18, 128, 253);
}

.fromDate {
  margin: 0;
  width: 6%;
}

.special {
  font-size: 12px;
}

/*seccion de rango de fechas*/
/*seccion de firmas*/
.firmaArrendador {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.canvaLineSing {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 1px solid rgb(18, 128, 253);
  border-radius: 0.5rem;
}

.singText {
  font-family: 'Times New Roman', Times, serif;
  color: rgba(18, 128, 253, 0.747);
  font-weight: lighter;
  font-size: 15px;
  text-align: center;
  line-height: 1em;
  margin: 5px;
}
.singLine{
  margin-top: 6%;
}
/*seccion de firmas*/
/*los inputs a diseñar*/
.spanTags {
  position: relative;
  margin-right: 5px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: x-large;
  text-align: center;
}

/*estilos fuera de plantilla*/
input.transparent-input {
  border:none
}

.transparent-input {
 background-color: rgba(0, 0, 0, 0);
 border:none;
 position: relative;
 display: inline;
 margin: 0;
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: x-large;
}

input.transparent-input{
     background-color:rgba(0,0,0,0) !important;
     border:none;
}

.inputValorNumero{
    width: 85%;
}

.inputNumeroRecibo{
  width: 70%;
}

.inputfechaRecibo{
  width: 70.5%;
}

.inputnombre,.inputvalorTexto,.inputdireccion{
  width: 80%;
}

.inputconcepto{
  width: 50%;
}

.inputdiaFI,
.inputmesFI,
.inputanioFI,
.inputdiaFF,
.inputmesFF,
.inputanioFF{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70%;
  height: 70%;
}

.modal-centered {
  position: relative;
  transform: translate(0, -130%);
}

.clientFormLabel{
  font-family: "redhat", Arial, Helvetica, sans-serif;
}

.bodyClientForm{
  position: relative;
  text-align: center;
  align-items: center;
}
.invalid-feedback{
  font-family: "redhat", Arial, Helvetica, sans-serif;
}
.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(124, 124, 124, 0.3);
  z-index: 9999;
  
}

.dropdown-item.active, .dropdown-item:active {
  background-color: #000000;
}
.dropdown-item.active, .dropdown-item:active {
  background-color: #000000;
}