<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <nav class="container-fluid navheader">
            <div class="designnav">
              <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                  <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                    <ul class="navbar-nav">
                      <li class="nav-item">
                        <a class="nav-link navText navTextOptions" href="facturacion/facturacionArriendo">Arriendo</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link navText navTextOptions" href="facturacion/facturacionEgreso">Servicios</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link navText navTextOptions" href="facturacion/facturacionEgreso">Históricos</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </nav>
            </div>
          </nav>
        <router-outlet></router-outlet>
    </body>
</html>
